login:
     path: /login
     defaults: {_controller: BlogBundle:User:login}

logout:
    path: /logout

register:
    path: /register
    defaults: {_controller: BlogBundle:User:register}

admin:
    path: /admin
    defaults: {_controller: BlogBundle:User:admin}

blogbundle_post_create:
    path: /post/create
    defaults: {_controller: BlogBundle:Post:create}


blogbundle_post_update:
    path: /post/update/{id}
    defaults: {_controller: BlogBundle:Post:update}
    requirements: {id: \d+}

blogbundle_post_view:
    path: /post/view/{id}
    defaults: {_controller: BlogBundle:Post:view}
    requirements: {id: \d+}
    methods: 'GET'

blogbundle_post_view_handle:
    path: /post/view/{id}
    defaults: {_controller: BlogBundle:Post:viewHandle}
    requirements: {id: \d+}
    methods: POST

blogbundle_post_delete:
    path: /post/delete/{id}
    defaults: {_controller: BlogBundle:Post:delete}
    requirements: {id: \d+}
    methods: POST

blogbundle_comment_admin:
    path: /admin/comment/{page}
    defaults: {_controller: BlogBundle:Comment:admin, page: 1}
    requirements: {page: \d+}

blogbundle_comment_approve:
    path: /admin/comment/approve/{id}/{disapprove}
    defaults: {_controller: BlogBundle:Comment:approve, disapprove: 0}
    requirements: {id: \d+,dissapprove: \d+ }
    methods: POST

blogbundle_comment_update:
    path: /admin/comment/update/{id}
    defaults: {_controller: BlogBundle:Comment:update}
    requirements: {id: \d+}

blogbundle_comment_delete:
    path: /admin/comment/delete/{id}
    defaults: {_controller:BlogBundle:Comment:delete}
    requirements: {id: \d+}
    methods: POST

blogbundle_test:
    path: /test
    defaults: {_controller: BlogBundle:Post:test }

post_index:
    path: /{page}
    defaults: {_controller:BlogBundle:Post:index, page:1, tag: false}
    requirements: {page: \d+}

homepage:
      path: /{tag}/{page}
      defaults: {_controller: BlogBundle:Post:index, page: 1, tag: false}
      requirements: {page: \d+, tag: '[\w]*'}