{% extends 'BlogBundle::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
        <div class="col-md-3">
            {{ render(controller('BlogBundle:Helper:tagCloud')) }}
        </div>
    </div>
{% endblock %}